.DS_Store
*.[od]
*.pc
*.pbxuser
*.perspective
*.perspectivev3


build
*.mode1v3
*.pbxuser
._*
xcuserdata
project.xcworkspace


*._*
*.swn
*.exe
*.tgz
*.gz
*.zip
*.bz2
*.rar
*.7z
*.tar
*.jar
*.iso
.svn
man
*.o
*.lo
*.la
*.al
*.pyc
*.pyo
*.rej
cscope.*
GTAGS
GRTAGS
GPATH
tags
*swo
*.scc
*~
#*#
.#*
*.swp
