<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>



{# 每一个字段部件(<input type="text">, <select>, <textarea>, 或者类似)都可以通过 #}
{# 访问{{form.字段名}}进行单独的渲染. 任何跟字段相关的错误都可以通过 #}
{# {{form.fieldname.errors}}访问. 我们可以同这些form的变量来为我们的表单构造一个 #}
{# 自定义的模板: #}

<html lang="en">
    <head>
        <title>Contact us</title>
    </head>

    <body>
        <form action="." method="POST">
            <div class="fieldWrapper">
                {{ form.topic.errors }}
                <label for="id_topic">Kind of feedback:</label>
                {{ form.topic }}
            </div>
            {# 可以把 form.message.errors 当作一个布尔值或者当它是list在上面做迭代 #}
            <div class="fieldWrapper{% if form.message.errors %}errors{% endif %}">
                {% if form.message.errors %}
                <ol>
                    {% for error in form.message.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}
                {{ form.message }}
            </div>
            <div class="fieldWrapper">
                {{ form.sender.errors }}
                <label for="id_sender">Your email (optional):</label>
                {{ form.sender }}
            </div>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
